body {
	font-size: 1em; //16px
	font-family: 'helvetica', arial;
	color: $black;
	background-color: $tan;
    padding: 0;
    margin: 0;
} 
*, *:before, *:after {
    @include box-sizing(border-box);
}
p {
	font-size: 1.125em;
    line-height: 22px;
    margin: 2px 0;
}
h1 {
	//font-size: 9.375em; //150px
	font-size: 6.375em; //102px
	line-height: 1;
	margin: .1em 0;
}
h2 {
	font-size: 5.062em; //81px
	line-height: 1;
	margin: .1em 0;
}
h3 {
	font-size: 1.625em; //26px
	line-height: 1;
	margin: .1em 0;
}
img {
    max-width: 100%;
    border: none;
    vertical-align: middle;
}
::-webkit-input-placeholder {
   color: $placeholder-text;
}

:-moz-placeholder {
   color: $placeholder-text; 
}

::-moz-placeholder {
   color: $placeholder-text;  
}

:-ms-input-placeholder {  
	color: $placeholder-text; 
}
input {
	border: 0;
	&:focus {
	    border: 0;
	    outline: 0;
	}
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: transparent;
    background-image: none;
    color: $black;
}
@font-face{ 
	font-family: 'UpperEastSide-webfont';
	src: url('fonts/UpperEastSide-webfont.eot');
	src: url('fonts/UpperEastSide-webfont.eot?iefix') format('eot'),
	     url('fonts/UpperEastSide-webfont.woff') format('woff'),
	     url('fonts/UpperEastSide-webfont.ttf') format('truetype'),
	     url('fonts/UpperEastSide-webfont.svg#webfont') format('svg');
}
@import url(https://fonts.googleapis.com/css?family=Italianno);
@import url(https://fonts.googleapis.com/css?family=Stalemate);
@import url(https://fonts.googleapis.com/css?family=Great+Vibes);