@mixin border-radius($value) {
	-webkit-border-radius: $value;
    -moz-border-radius: $value;
    -ms-border-radius: $value;
    -o-border-radius: $value;
    border-radius: $value;
}
@mixin box-shadow($value) {
	-webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    box-shadow: $value;
}
@mixin box-sizing($value) {
	-webkit-box-sizing: $value;
	-moz-box-sizing: $value;
	box-sizing: $value;
}



// Breakpoint Mixins
@mixin bp($point) {
  $mobile-landscape: "only screen and (min-width: #{$mobile-landscape-breakpoint}) and (max-width: #{$tablet-breakpoint - 1})";
  $mobile-landscape-min: "only screen and (min-width: #{$mobile-landscape-breakpoint})";
  $mobile-landscape-max: "only screen and (max-width: 479px)";
  $mobile: "only screen and (max-width: #{$tablet-breakpoint - 1})";
  $large-mobile: "only screen and (min-width: #{$mobile-landscape-breakpoint}) and (max-width: #{$tablet-breakpoint - 1})";
  $small-tablet: "only screen and (min-width: #{$small-tablet-breakpoint}) and (max-width: #{$tablet-breakpoint - 1})";
  $small-tablet-min: "only screen and (min-width: #{$small-tablet-breakpoint})";
  $small-tablet-max: "only screen and (max-width: #{$small-tablet-breakpoint - 1})";
  $tablet: "only screen and (min-width: #{$tablet-breakpoint}) and (max-width: #{$small-desktop-breakpoint - 1})";
  $tablet-min: "only screen and (min-width: #{$tablet-breakpoint})";
  $tablet-max: "only screen and (max-width: #{$tablet-breakpoint - 1})";
  $desktop: "only screen and (min-width: #{$small-desktop-breakpoint})";
  $desktop-max: "only screen and (max-width: #{$small-desktop-breakpoint - 1})";
  $small-desktop: "only screen and (min-width: #{$small-desktop-breakpoint}) and (max-width: #{$medium-desktop-breakpoint - 1})";
  $small-desktop-min: "only screen and (min-width: #{$small-desktop-breakpoint})";
  $small-desktop-max: "only screen and (max-width: #{$small-desktop-breakpoint - 1})";
  $medium-desktop: "only screen and (min-width: #{$medium-desktop-breakpoint}) and (max-width: #{$large-desktop-breakpoint - 1})";
  $medium-desktop-min: "only screen and (min-width: #{$medium-desktop-breakpoint})";
  $medium-desktop-max: "only screen and (max-width: #{$medium-desktop-breakpoint - 1})";
  $large-desktop: "only screen and (min-width: #{$large-desktop-breakpoint}) and (max-width: #{$zoom-breakpoint - 1})";
  $large-desktop-min: "only screen and (min-width: #{$large-desktop-breakpoint})";
  $large-desktop-max: "only screen and (max-width: #{$large-desktop-breakpoint - 1})";
  $widescreen-desktop-min: "only screen and (min-width: #{$widescreen-desktop-breakpoint})";
  $zoom-min: "only screen and (min-width: #{$zoom-breakpoint})";

  @if $point == mobile-landscape {
    @media #{$mobile-landscape} { @content; }
  }
  @else if $point == mobile-landscape-min {
    @media #{$mobile-landscape-min} { @content; }
  }
  @else if $point == mobile-landscape-max {
    @media #{$mobile-landscape-max} { @content; }
  }
  @else if $point == mobile {
    @media #{$mobile} { @content; }
  }
   @else if $point == large-mobile {
    @media #{$large-mobile} { @content; }
  }
  @else if $point == small-tablet {
    @media #{$small-tablet} { @content; }
  }
  @else if $point == small-tablet-min {
    @media #{$small-tablet-min} { @content; }
  }
  @else if $point == small-tablet-max {
    @media #{$small-tablet-max} { @content; }
  }
  @else if $point == tablet {
    @media #{$tablet} { @content; }
  }
  @else if $point == tablet-min {
    @media #{$tablet-min} { @content; }
  }
  @else if $point == tablet-max {
    @media #{$tablet-max} { @content; }
  }
  @else if $point == desktop {
    @media #{$desktop} { @content; }
  }
  @else if $point == small-desktop {
    @media #{$small-desktop} { @content; }
  }
  @else if $point == small-desktop-min {
    @media #{$small-desktop-min} { @content; }
  }
  @else if $point == small-desktop-max {
    @media #{$small-desktop-max} { @content; }
  }
  @else if $point == medium-desktop {
    @media #{$medium-desktop} { @content; }
  }
  @else if $point == medium-desktop-min {
    @media #{$medium-desktop-min} { @content; }
  }
  @else if $point == medium-desktop-max {
    @media #{$medium-desktop-max} { @content; }
  }
  @else if $point == large-desktop {
    @media #{$large-desktop} { @content; }
  }
  @else if $point == large-desktop-min {
    @media #{$large-desktop-min} { @content; }
  }
   @else if $point == widescreen-desktop-min {
    @media #{$widescreen-desktop-min} { @content; }
  }
  @else if $point == large-desktop-max {
    @media #{$large-desktop-max} { @content; }
  }
  @else if $point == zoom-min {
    @media #{$zoom-min} { @content; }
  }
}