.allcaps {
	text-transform: uppercase;
}
.thintext  {
	font-weight: lighter;
}
.darkred {color: $dark-red;}

.container {
	display: none;
    min-width: 320px;
	max-width: 1200px;
    position: relative;
	margin: 0 auto;
	@include bp(mobile) {
		//height: 1100px;
	}
}

.coverimage {
    width: 56%;
    height: 660px;
    background-image: url('../images/lana.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    //margin-left: -20px;
	@include bp(mobile) {
	    width: 100%;
	    height: 500px;
	    float: none;
	    background-position: center top;
	    margin-left: auto;
	    margin-top: -38px;
	    margin-right: auto;
        position: relative;
	    z-index: -1;
	}
}

.content {
    width: 64%;
    position: absolute;
    top: 75px;
    right: 0;
    @include bp(mobile) {
		position: static;
	    margin: -250px 15px 0;
	    right: 0;
    }
}
	.header {}
		.header-artist {
			font-size: 2em;
			font-weight: normal;
			color: $dark-red;
		    font-weight: 900;
		    line-height: 28px;
			-webkit-transform:scale(1,3);
		    -moz-transform:scale(1,3);
		    -ms-transform:scale(1,3);
		    -o-transform:scale(1,3);
		    transform:scale(1,3);
			margin-bottom: 20px;
			@extend .allcaps;
			@include bp(mobile) {
			    font-size: 1.5em;
			    margin: 0;
			    line-height: 21px;
		    }
		}
		.header-title {
			font-size: 4.5em;
			font-weight: 400;
			color: $honeymoon-blue;
			font-family: $font-family;
	        line-height: 75px;
	        margin-top: 45px;
    		margin-bottom: 0;
		    text-transform: capitalize;
		    @include bp(mobile) {
		    	font-size: 2.1em;
	    	    line-height: 33px;
			    margin-top: 35px;
			}
		}
		.header-content {}
			.header-content-subtext {
			    display: inline-block;
			    vertical-align: middle;
			    margin-right: 3px;
			}
			.header-content-featureartist {
			    display: inline-block;
			    vertical-align: middle;
				margin: 0;
			}
				.featureartist-title {
					font-weight: 700;
					@extend .allcaps;
				}


.landingform {
	clear: both;
    margin: 0 20px;
    position: relative;
    z-index: 1;
    top: -132px;
    @include bp(mobile) {
    	position: static;
    	margin-top: 50px;
    	margin-left: 10px;
    	margin-right: 10px;
    }
}

	.landingform-content {}

		.formfields {
		    font-size: 13px;
			list-style: none;
		    padding: 0;
		    margin: 0;
	        overflow: hidden;
		}
			.formfields-item {
			    width: 23.5%;
			    display: inline-block;
			    padding-right: 15px;
			    margin-bottom: 10px;
			    @include bp(tablet) {
			    	width: 22.9%;
			    }
			    @include bp(mobile) {
			    	width: 100%;
		    	    padding-right: 0;
			    } 
			}
				.formfields-item:last-child {
				    padding-right: 0;
				}
				.formfields-item-label {
				    display: block;
			        font-weight: 700;
			        margin-bottom: 5px;
			        text-align: center;
					@extend .allcaps;
					@include bp(mobile) {
						text-align: left;
					}
				}
				.formfields-item-input  {
    				display: block;
    				text-align: left;
					background-color: $dark-red;
				    padding: 8px 7px;
				}
					.formfields-item-input input {
					    width: 100%;
						background-color: transparent;
						color: #fff;
					}
			.formfineprint {
				font-size: 1em;
				color: $dark-red;
				text-align: left;
			}
			.formsubmit {
			    min-height: 70px;
			    @include bp(mobile) {
		    	    min-height: 50px;
			    }
		    }
				.button--submit {
					color: #fff;
					font-weight: 700;
					display: block;
					text-decoration: none;
					@include border-radius(5px);
					background: #0B5CBF;
					text-align: center;
					padding: 20px 30px;
				    @include box-shadow(0px 9px 0px $honeymoon-blue);
				    border: 0;
				    margin: 0 auto;

				    &:active {
					    @include box-shadow(0px 5px 0px $honeymoon-blue);
					    position:relative;
					    top:4px;
					}
					&:focus {
						outline: 0;
					}

				    @include bp(mobile) {
			    	    padding-top: 10px;
			    	    padding-bottom: 10px;
				    }
				}

	.landingform-footer {
	    margin-bottom: 45px;
	}




