.allcaps {text-transform: uppercase;}
.thintext  {font-weight: lighter;}
.darkred {color: $dark-red;}
.bold {font-weight: 700;}
.focused {outline: 2px inset $blue-bright;}
.error {outline: 2px solid red;}


.bckgrdpattern {
	background-image: url('../images/background_pattern.jpg');
	background-color: $tan;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 0;
}

.bckgrdlana {
	display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 54%;
}

.container {
	display: none;
    min-width: 320px;
	max-width: 1200px;
	margin: 0 auto;
    position: relative;
    @include bp(mobile) {
        padding-top: 15px;
	    padding-left: 15px;
	    padding-right: 15px;
    }
}

	
	.lanacontent {
	    max-width: 70%;
	    width: 100%;
	    float: right;
		@include bp(mobile) {
			max-width: 100%;
		}
	}
		.lanacontent-header {
			margin-bottom: 34px;
		}
			.lanacontent-header-title {
				//font-family: 'Italianno', cursive;
				font-family: 'Great Vibes', cursive;
			    font-weight: 400;
			    text-transform: capitalize;
			    color: $blue-bright;
			    @include bp(mobile) {
			    	font-size: 2.23em;
   					text-align: center;
			    }
			}

			/*.lanacontent-header-subtitle {
			    line-height: 1;
			    -webkit-transform: scale(1, 2);
			    -moz-transform: scale(1, 2);
			    -ms-transform: scale(1, 2);
			    -o-transform: scale(1, 2);
			    transform: scale(1, 2);
			    margin: 0;
			    height: 84px;
			    overflow: hidden;
			    margin-bottom: 53px;
				@extend .allcaps;
			}*/

			.lanalogo {
				@include bp(mobile) {
    				width: 254px;
				    margin: 0 auto 15px;
				}
			}

			.lanacontent-header-text {
			    display: inline-block;
		        line-height: 1;
    			margin: 0;
			    vertical-align: top;
			    @include bp(mobile) {
				    display: block;
			        text-align: center;
				    margin-bottom: 10px;
			    }
			}

			.twodoorlogo {
    			display: inline-block;
			    width: 327px;
			    @include bp(mobile) {
    				display: block;
			    	width: 137px;
    				margin: 0 auto;
			    }
			}


	.lanaform {
	    clear: right;
		@include bp(mobile) {margin-bottom: 50px;}
	}
		.lanaform-header {
			background-color: rgba(255, 255, 255, 0.6);
		    text-align: center;
	        line-height: 1;
		    padding: 26px 0 37px;
		    margin-bottom: -16px;
		    @include bp(mobile) {
		    	padding: 20px 0 23px;
		    }
		}

		    .lanaform-header-text {
		        font-size: 1.9375em;
		    	font-weight: bold;
	    	    margin: 0;
	    	    @include bp(mobile) { 
	    	    	font-size: 1.125em;
	    	    }
		    }

		.lanaform-content {}
			.formfields {
				list-style: none;
				background-color: rgba(255, 255, 255, 0.6);
			    padding: 0 20px;
			    margin-bottom: 0;
		        overflow: hidden;
			}
				.formfields-item {
				    width: 25%;
				    float: left;
				    padding-right: 15px;
				    margin-bottom: 10px;
					&:last-child {
					    padding-right: 0;
					}

				    @include bp(mobile) {
				    	width: 100%;
			    	    padding-right: 0;
				    }
				}

					.formfields-item-label {
					    display: block;
				        font-weight: 700;
				        line-height: 1;
				        margin-bottom: 11px;
				        @include bp(mobile) {
				        	font-size: 0.875em;
				        }
					}
					.formfields-item-input  {
	    				display: block;
	    				text-align: left;
						background-color: $orange;
					    padding: 10px 7px;

					    &.focused {
					    	outline: 2px inset $blue-bright;
					    	color: $black;
				    	}
					    &.invalid {
					    	border: 2px inset red;
					    	background-color: #fff;
				    	}

					    input {
						    width: 100%;
							background-color: transparent;
							color: #fff;
						}
					}
			
			.formfineprint {
				font-size: 1em;
				color: $dark-red;
				text-align: left;
				text-indent: 4px;
			    font-weight: bold;
			    background-color: rgba(255, 255, 255, 0.6);
		        padding: 0 20px 5px;
	            margin: 0;
		        @include bp(mobile) {
		        	font-size: 0.875em;
		        }
			}
			.formsubmit {
		        min-height: 60px;
			    max-width: 223px;
			    margin: 26px auto;
			    margin-top: 26px;
			    @include bp(mobile) {
		    	    min-height: 50px;
			    }
		    }
				.button--submit {
					color: #fff;
					font-weight: 700;
					text-decoration: none;
					@include border-radius(5px);
					background: $blue-bright;
					padding: 16px 30px;
				    @include box-shadow(0px 9px 0px $blue-dark);
				    border: 0;

				    &:active, &.active {
					    @include box-shadow(0px 5px 0px $blue-dark);
					    position:relative;
					    top:4px;
					}
					&:focus {
						outline: 0;
					}

				    @include bp(mobile) {
			    	    padding-top: 10px;
			    	    padding-bottom: 10px;
				    }

				    &.disabled {
		     			opacity: 0.6;
  						pointer-events: none;
				    }
				}