<!doctype html>
<html lang="en">
<head>
<title>CHEESE</title>
<meta id="meta" name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="../css/all.css">
</head>
<body>

TESTING

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script type="text/javascript" src="../scripts/function.js"></script>
</body>
</html>