
.bckgrdpattern {
	background-image: url('../images/background_pattern.jpg');
	background-color: $tan;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 0;
}

.bckgrdlana {
	//display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 54%;
}

.container {
	//display: none;
    min-width: 320px;
	max-width: 1200px;
	margin: 0 auto;
    position: relative;
    @include bp(mobile) {
        padding-top: 15px;
	    padding-left: 15px;
	    padding-right: 15px;
    }
}

	
	.lanacontent {
	    max-width: 900px;
	    width: 100%;
	    float: right;
		@include bp(mobile) {
			max-width: 100%;
		}
	}
		.lanacontent-header {
			padding-top: 30px;
			margin-bottom: 34px;
		    overflow: hidden;
		}
			.lanacontent-header-title {
				//font-family: 'Italianno', cursive;
				font-family: 'Great Vibes', cursive;
			    font-weight: $normal;
			    text-transform: capitalize;
			    color: $blue-bright;
			    margin-bottom: 17px;
		        @include transform(scale(1,1.5));
			    @include bp(mobile) {
			    	font-size: 2.23em;
   					text-align: center;
			    }
			}

			.lanalogo {
				margin-left: 36px;
				margin-bottom: 38px;
				@include bp(mobile) {
    				width: 254px;
				    margin: 0 auto 15px;
				}
			}

			.lanacontent-header-text {
			    display: inline-block;
			    font-size: 2.27em;
		        margin-left: 36px;
		        margin-right: 12px;
			    vertical-align: top;
			    @include bp(mobile) {
				    display: block;
			        text-align: center;
				    margin-bottom: 10px;
			    }
			}

			.twodoorlogo {
			    display: inline-block;
			    width: 320px;
			    @include bp(mobile) {
    				display: block;
			    	width: 137px;
    				margin: 0 auto;
			    }
			}


	.lanaform {
	    clear: right;
		@include bp(mobile) {margin-bottom: 50px;}
	}
		.formcontent {
		    background-color: rgba(255, 255, 255, 0.6);
		}	
			.formheader {
			    text-align: center;
		        line-height: 1;
			    padding: 34px 0 37px;
			    @include bp(mobile) {
			    	padding: 20px 0 23px;
			    }
			}

			    .formheader-text {
			        font-size: 1.9375em;
			    	font-weight: $bold;
		    	    margin: 0;
		    	    @include bp(mobile) { 
		    	    	font-size: 1.125em;
		    	    }
			    }	

			.formfields {
				list-style: none;
			    padding: 0 20px;
			    margin: 0;
		        overflow: hidden;
			}
				.formfields-item {
				    width: 25%;
				    float: left;
				    padding-right: 15px;
				    margin-bottom: 10px;
					&:last-child {
					    padding-right: 0;
					}

				    @include bp(mobile) {
				    	width: 100%;
			    	    padding-right: 0;
				    }
				}

					.formfields-item-label {
					    display: block;
				        font-weight: $bold;
				        line-height: 1;
				        margin-bottom: 11px;
				        @include bp(mobile) {
				        	font-size: 0.875em;
				        }
					}
					.formfields-item-input  {
	    				display: block;
	    				text-align: left;
						background-color: $orange;
					    padding: 10px 7px;

					    &.focused {
					    	outline: 2px inset $blue-bright;
					    	color: $black;
				    	}
					    &.invalid {
					    	border: 2px inset red;
					    	background-color: $white;
				    	}

					    input {
						    width: 100%;
							background-color: transparent;
							color: $white;
						}
					}
					.formfields-item-errormsg {
						color: $dark-red;
					    font-weight: $bold;
					    margin-top: 7px;
					}
			
			.formfineprint {
				font-size: 1em;
				color: $dark-red;
				text-align: left;
				text-indent: 4px;
			    font-weight: $bold;
		        padding: 0 20px 8px;
	            margin: 0;
		        @include bp(mobile) {
		        	font-size: 0.875em;
		        }
			}

		.formsubmit {
	        min-height: 60px;
		    max-width: 299px;
		    margin: 26px auto;
		    @include bp(mobile) {
	    	    min-height: 50px;
		    }
	    }
			.button {
				color: $white;
				font-weight: $bold;
				text-decoration: none;
				@include border-radius(5px);
				padding: 16px 30px;
			    border: 0;
			    &:active, &.active {
				    position:relative;
				    top:4px;
				}
			    @include bp(mobile) {
		    	    padding-top: 10px;
		    	    padding-bottom: 10px;
			    }

			    &.disabled {
	     			opacity: 0.6;
					pointer-events: none;
			    }
					&--submit {
				    	@extend .button;
						background: $blue-bright;
					    @include box-shadow(0px 9px 0px $blue-dark);
						margin-right: 15px;
						&:active, &.active {
				    		@include box-shadow(0px 5px 0px $blue-dark);
			    		}
				    }
					&--reset {
				    	@extend .button;
			    	    background: $dark-pink;
			    	    @include box-shadow(0px 9px 0px rgb(129, 10, 21));
					    padding: 11px 25px;
					    &:active, &.active {
				    		@include box-shadow(0px 5px 0px rgb(129, 10, 21));
				    	}
				    }
			}
